<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="lionsguard">
			<section name="settings" type="Lionsguard.Configuration.SettingsSection"/>
			<section name="security" type="Lionsguard.Configuration.SecuritySection"/>
			<section name="notification" type="Lionsguard.Configuration.NotificationSection"/>
			<section name="forum" type="Lionsguard.Configuration.ForumSection"/>
			<section name="content" type="Lionsguard.Configuration.ContentSection"/>
		</sectionGroup>
	</configSections>
	<lionsguard>
		<security key="" iv=""/>
		<notification defaultProvider="SqlProvider" adminEmail="" emailSubject="">
			<providers>
				<add name="SqlProvider" type="Lionsguard.Providers.SqlNotificationProvider" connectionStringName="LionsguardConnection"/>
			</providers>
		</notification>
		<forum defaultProvider="YafProvider" boardName="Perenthia">
			<providers>
				<add name="SqlProvider" type="Lionsguard.Providers.SqlForumProvider" connectionStringName="LionsguardConnection"/>
				<add name="YafProvider" type="Lionsguard.Providers.YafForumProvider" connectionStringName="LionsguardConnection"/>
			</providers>
		</forum>
		<content defaultProvider="SqlProvider" sourceName="Perenthia">
			<providers>
				<add name="SqlProvider" type="Lionsguard.Providers.SqlContentProvider" connectionStringName="LionsguardConnection"/>
			</providers>
		</content>
		<settings defaultProvider="SqlProvider">
			<providers>
				<add name="SqlProvider" type="Lionsguard.Providers.SqlSettingsProvider" connectionStringName="LionsguardConnection"/>
			</providers>
		</settings>
	</lionsguard>
	<appSettings configSource="Config\AppSettings.config"/>
	<connectionStrings configSource="Config\ConnectionStrings.config"/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<siteMap defaultProvider="MvcSiteMap">
			<providers>
				<add name="MvcSiteMap"
      type="MvcSiteMap.Core.MvcSiteMapProvider"
      siteMapFile="~/Web.Sitemap"
      securityTrimmingEnabled="true"
      enableLocalization="true"
      cacheDuration="240"
      scanAssembliesForSiteMapNodes="false"
      treatAttributesAsRouteValues="true"
      aclModule="MvcSiteMap.Core.DefaultMvcSiteMapAclModule, MvcSiteMap.Core"/>
			</providers>
		</siteMap>
		<!-- ROLE MANAGER -->
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".LIONSGUARD-ROLES" cookieTimeout="240" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="SqlProvider" type="Lionsguard.Security.SqlRoleProvider" connectionStringName="LionsguardConnection" applicationName="Lionsguard"/>
			</providers>
		</roleManager>
		<!-- MEMBERSHIP PROVIDER -->
		<membership defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="Lionsguard.Security.SqlMembershipProvider" connectionStringName="LionsguardConnection" applicationName="Lionsguard"/>
			</providers>
		</membership>
		<!-- Required for SSO -->
		<machineKey validationKey="" decryptionKey="" validation="SHA1"/>
		<authentication mode="Forms">
			<forms name="LIONSGUARD-ID" protection="All" path="/" timeout="3600" slidingExpiration="true" defaultUrl="~/" loginUrl="~/Login"/>
		</authentication>
		<!-- End Required for SSO -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<customErrors mode="RemoteOnly"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="webtools" namespace="WebTools.UI.WebControls" assembly="WebTools.UI"/>
				<add tagPrefix="lg" namespace="Lionsguard.UI.WebControls" assembly="Lionsguard"/>
				<add tagPrefix="perenthia" tagName="Script" src="~/Views/Shared/Controls/Script.ascx"/>
				<add tagPrefix="perenthia" tagName="Meta" src="~/Views/Shared/Controls/Meta.ascx"/>
				<add tagPrefix="perenthia" tagName="Footer" src="~/Views/Shared/Controls/Footer.ascx"/>
				<add tagPrefix="perenthia" tagName="MainMenu" src="~/Views/Shared/Controls/MainMenu.ascx"/>
				<add tagPrefix="perenthia" tagName="MiniLogon" src="~/Views/Shared/Controls/MiniLogon.ascx"/>
				<add tagPrefix="perenthia" tagName="SearchPanel" src="~/Views/Shared/Controls/SearchPanel.ascx"/>
			</controls>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="Lionsguard"/>
				<add namespace="Lionsguard.Mvc"/>
				<add namespace="Perenthia.Web"/>
				<add namespace="Perenthia.Web.Models"/>
				<add namespace="MvcSiteMap.Core"/>
				<add namespace="MvcSiteMap.Core.Extensions"/>
				<add namespace="MvcSiteMap.Core.Helpers"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="Logout.aspx" type="Lionsguard.Handlers.LogoutHandler"/>
			<add verb="*" path="SignUp.aspx" type="Lionsguard.Handlers.SignUpHandler"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<urlMappings>
			<add url="~/About.aspx" mappedUrl="~/Lore/"/>
			<add url="~/Links.aspx" mappedUrl="~/"/>
			<add url="~/PlayNow.aspx" mappedUrl="~/Play"/>
			<add url="~/Beta.aspx" mappedUrl="~/SignUp"/>
			<add url="~/BetaSignUp.aspx" mappedUrl="~/SignUp"/>
			<add url="~/Ajax.aspx" mappedUrl="~/"/>
			<add url="~/Community.aspx" mappedUrl="~/"/>
			<add url="~/Profiles.aspx" mappedUrl="~/"/>
			<add url="~/SiteMap.aspx" mappedUrl="~/"/>
			<add url="~/ViewProfile.aspx" mappedUrl="~/"/>
			<add url="~/Activate.aspx" mappedUrl="~/"/>
			<add url="~/Ajax2.aspx" mappedUrl="~/"/>
			<add url="~/BetaUpdateCharacter.aspx" mappedUrl="~/"/>
			<add url="~/ChangePassword.aspx" mappedUrl="~/"/>
			<add url="~/CharacterProfile.aspx" mappedUrl="~/"/>
			<add url="~/CreateCharacter.aspx" mappedUrl="~/"/>
			<add url="~/CreateHousehold.aspx" mappedUrl="~/"/>
			<add url="~/ForgotPassword.aspx" mappedUrl="~/"/>
			<add url="~/Forums.aspx" mappedUrl="~/"/>
			<add url="~/GettingStarted.aspx" mappedUrl="~/"/>
			<add url="~/Households.aspx" mappedUrl="~/"/>
			<add url="~/Inhabitants.aspx" mappedUrl="~/"/>
			<add url="~/PrivacyPolicy.aspx" mappedUrl="~/"/>
			<add url="~/Refer.aspx" mappedUrl="~/"/>
			<add url="~/Silverlight.aspx" mappedUrl="~/"/>
			<add url="~/TermsOfService.aspx" mappedUrl="~/"/>
			<add url="~/RulesOfConduct.aspx" mappedUrl="~/"/>
			<add url="~/News.aspx" mappedUrl="/News"/>
			<add url="~/AlphaSignUp.aspx" mappedUrl="/SignUp"/>
			<add url="~/Play.aspx" mappedUrl="/Play"/>
		</urlMappings>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ScriptModule"/>
			<remove name="UrlRoutingModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<bindings>
   <customBinding>
    <binding name="customBinding0">
     <binaryMessageEncoding />
     <httpTransport>
      <extendedProtectionPolicy policyEnforcement="Never" />
     </httpTransport>
    </binding>
    <binding name="CustomBinding_IAuth">
     <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      maxSessionSize="2048">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
       maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     </binaryMessageEncoding>
     <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
      maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
      bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
      realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
      useDefaultWebProxy="true">
      <extendedProtectionPolicy policyEnforcement="Never" />
     </httpTransport>
    </binding>
   </customBinding>
  </bindings>
		<client>
   <endpoint address="http://games.lionsguard.com/Auth.svc" binding="customBinding"
    bindingConfiguration="CustomBinding_IAuth" contract="Services.Security.IAuth"
    name="CustomBinding_IAuth" />
  </client>
	</system.serviceModel>
</configuration>
