<?xml version="1.0"?>
<log4net debug="true">
	<logger name="MainLogger">
		<!-- <appender-ref ref="B" /> -->
		<appender-ref ref="ColoredConsoleAppender" />
		<appender-ref ref="AspNetTraceAppender" />
		<appender-ref ref="RollingLogFileAppender" />
		<appender-ref ref="CommandFileAppender" />
		<!--<appender-ref ref="SmtpAppender" />-->
	</logger>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" threshold="All">
		<file type="log4net.Util.PatternString" value="Logs\Perenthia.log" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<appendToFile value="true"/>
		<maxSizeRollBackups value="-1"/>
		<maximumFileSize value="1MB"/>
		<rollingStyle value="Composite"/>
		<staticLogFileName value="false"/>
		<countDirection value="1"/>
		<datePattern value="yyyyMMdd"/>
		<layout type="log4net.Layout.PatternLayout">
			<header value="[Header]&#xA;"/>
			<footer value="[Footer]&#xA;"/>
			<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
		</layout>
	</appender>
	<appender name="CommandFileAppender" type="log4net.Appender.RollingFileAppender" threshold="CMD">
		<file value="Logs\Commands.log"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<appendToFile value="true"/>
		<maxSizeRollBackups value="-1"/>
		<maximumFileSize value="1MB"/>
		<rollingStyle value="Composite"/>
		<staticLogFileName value="false"/>
		<countDirection value="1"/>
		<datePattern value="yyyyMMdd"/>
		<layout type="log4net.Layout.PatternLayout">
			<header value="[Header]&#xA;"/>
			<footer value="[Footer]&#xA;"/>
			<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
		</layout>
	</appender>
	<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
		<to value="calbert@lionsguard.com"/>
		<from value="no-reply@lionsguard.com"/>
		<subject value="Error on game.perenthia.com"/>
		<smtpHost value="smtp.lionsguard.com"/>
		<authentication value="Basic"/>
		<username value="calbert@lionsguard.com"/>
		<password value="$Certes01"/>
		<bufferSize value="512"/>
		<lossy value="false"/>
		<evaluator type="log4net.Core.LevelEvaluator,log4net">
			<threshold value="ERROR"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline"/>
		</layout>
	</appender>
	<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
		</layout>
	</appender>
	<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
</log4net>
