<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="lionsguard">
      <section name="settings" type="Lionsguard.Configuration.SettingsSection, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="security" type="Lionsguard.Configuration.SecuritySection, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="notification" type="Lionsguard.Configuration.NotificationSection, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="forum" type="Lionsguard.Configuration.ForumSection, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="content" type="Lionsguard.Configuration.ContentSection, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
    <section name="radiance" type="Radiance.Configuration.RadianceSection, Radiance, Version=1.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <lionsguard>
    <security key="" iv=""/>
    <notification defaultProvider="SqlProvider" adminEmail="" emailSubject="Error on Perenthia.com" smtpServer="">
      <providers>
        <add name="SqlProvider" type="Lionsguard.Providers.SqlNotificationProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection"/>
      </providers>
    </notification>
    <forum defaultProvider="SqlProvider" boardName="Perenthia">
      <providers>
        <add name="SqlProvider" type="Lionsguard.Providers.SqlForumProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection"/>
      </providers>
    </forum>
    <content defaultProvider="SqlProvider" sourceName="Perenthia">
      <providers>
        <add name="SqlProvider" type="Lionsguard.Providers.SqlContentProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection"/>
      </providers>
    </content>
    <settings defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" type="Lionsguard.Providers.SqlSettingsProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection"/>
      </providers>
    </settings>
  </lionsguard>
  <radiance>
    <world defaultProvider="SqlProvider" name="Perenthia" clientTimeoutMinutes="20" defaultMaxCharacters="2" enableMagic="true" enablePsionics="false" enableCommandLogging="true" realismMultiplier="4" powerMultiplier="4" worldType="Radiance.World, Radiance, Version=1.0, Culture=neutral, PublicKeyToken=null" mapManagerType="Perenthia.PerenthiaMapManager, Perenthia.Server, Version=1.1, Culture=neutral, PublicKeyToken=null">
      <providers>
        <add name="SqlProvider" connectionStringName="RadianceConnection" type="Perenthia.SqlWorldProvider, Perenthia.Server, Version=1.1, Culture=neutral, PublicKeyToken=null"/>
      </providers>
    </world>
    <log defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" worldName="Perenthia" connectionStringName="RadianceConnection" type="Perenthia.SqlLogProvider, Perenthia.Server, Version=1.1, Culture=neutral, PublicKeyToken=null"/>
      </providers>
    </log>
    <cryptography defaultProvider="StaticProvider">
      <providers>
        <add name="StaticProvider" type="Perenthia.StaticCryptographyProvider, Perenthia.Server, Version=1.1, Culture=neutral, PublicKeyToken=null"/>
      </providers>
    </cryptography>
    <command defaultProvider="StaticProvider">
      <providers>
        <add name="StaticProvider" type="Perenthia.StaticCommandProvider, Perenthia.Server, Version=1.1, Culture=neutral, PublicKeyToken=null"/>
      </providers>
    </command>
    <script commandsModuleName="cmd" eventsModuleName="events"/>
  </radiance>
  <appSettings configSource="Config\AppSettings.config"/>
  <connectionStrings configSource="Config\ConnectionStrings.config"/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!-- ROLE MANAGER -->
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".LIONSGUARD-ROLES" cookieTimeout="240" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="SqlProvider" type="Lionsguard.Security.SqlRoleProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection" applicationName="Lionsguard"/>
      </providers>
    </roleManager>
    <!-- MEMBERSHIP PROVIDER -->
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="Lionsguard.Security.SqlMembershipProvider, Lionsguard, Version=1.0, Culture=neutral, PublicKeyToken=null" connectionStringName="LionsguardConnection" applicationName="Lionsguard"/>
      </providers>
    </membership>
    <!-- Required for SSO -->
    <machineKey validationKey="" decryptionKey="" validation="SHA1"/>
    <authentication mode="Forms">
      <forms name="LIONSGUARD-ID" protection="All" path="/" timeout="3600" slidingExpiration="true" defaultUrl="~/" loginUrl="~/Login"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
    </mailSettings>
  </system.net>
  <system.diagnostics>
  </system.diagnostics>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://localhost:81"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>