<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BaseAddress" value="http://localhost:81"/>
	<add key="GameServerPort" value="4530"/>
	<add key="MediaUri" value="http://localhost:81/common/media"/>
	<add key="MailingListSubscribeUri" value="http://ymlp.com/subscribe.php?YMLPID=gejusymgmgj"/>
</appSettings>