<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="RadianceConnection" connectionString="Data Source=.;Database=;User ID=;Password=;" providerName="System.Data.SqlClient"/>
	<add name="LionsguardConnection" connectionString="Data Source=.;Database=;User ID=;Password=;" providerName="System.Data.SqlClient"/>
</connectionStrings>