<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="TestPhase" value="Alpha"/>
	<add key="MembersUri" value="http://localhost:81/"/>
	<add key="PlayUri" value="http://localhost:81/"/>
	<add key="ForumsUri" value="http://forums.lionsguard.com"/>
	<add key="BlogUri" value="http://blog.perenthia.com"/>
	<add key="ValidInviteCodes" value=""/>
	
	
	<add key="RpxApiKey" value=""/>
	<add key="RpxBaseUrl" value=""/>
	<add key="RpxRealm" value=""/>
	
	
	<add key="XapUri" value="http://localhost:81"/>
	
	
	<add key="JamboolUserId" value=""/>
	<add key="JamboolOfferId" value=""/>
	<add key="JamboolSecretKey" value=""/>
	
	
	<add key="ArmorialServiceUri" value="http://localhost:81/Services/ArmorialService.svc"/>
	<add key="DepotServiceUri" value="http://localhost:81/Services/DepotService.svc"/>
	<add key="SecurityServiceUri" value="http://games.lionsguard.com/Auth.svc"/>
</appSettings>