#game-container
{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}

#game-console
{
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}

#game-combat
{
	position:absolute;
	top:0;
	left:0;
	z-index:300;
}

#game-login
{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
}

#game-header
{
}

#game-content
{
}

#game-footer
{
}
#game-footer ul
{
	display: inline;
}
#game-footer ul li
{
	display: inline;
}